body {
    margin: 0 auto;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-text-size-adjust: none;
}

#game-container {
    position: absolute;
    left: 0;
    top: 0;
    /* DEV ONLY*/
    top: 50px;
    margin-left: -160px;
    left: 50%;
    /* END DEV ONLY*/
    background: #333;
    /*width: 320px;*/
    /*height: 480px;*/
    font-size: 40px;
    width: 8em;
    height: 12em;

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#game-container .screen{
    background: #ccc;
    z-index: 10;
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
}

#game-container .screen.active {
    display: block;
}


/* INTRO */
#intro {
    text-align: center;
}
#intro h1 {
    font-size: 1em;
    text-align: center;
    margin-top: 2em;
}

#intro #start-game {
    font-size: .425em;
    cursor: pointer;
    margin: 0 auto;
    display: inline-block;
    text-align: center;
    margin-top: 12em;
    background-color: #2be;
    padding: 1em 4em;
    color: #FFF;
}

/* MENU */
#menu {
    text-align: center;
}
#menu h2 {
    font-size: 1em;
}
#menu .menu-links {
    margin: 0;
    padding: 0;
    list-style: none;
}

#menu .menu-links button{
    padding: 1em 0;
    width: 10em;
}