#game-container {
    left: 0;
    top: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

@media (max-width: 480px) {
    #game-container {
        font-size: 32px;
    }
}

@media (orientation: landscape) {
    #game-container {

    }

    #intro #start-game { 
        margin-top: 2em;
    }

    #menu .menu-links li{
        display: inline-block;
    }
}